@model Final_Restaurant_Management_System_RMS.Models.Order_List

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateAllOrder_ListBYIDs</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Order_List</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Order_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Order_Number)
                    @Html.ValidationMessageFor(model => model.Order_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Customer_ID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer_ID)
                    @Html.ValidationMessageFor(model => model.Customer_ID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Table_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Table_Number)
                    @Html.ValidationMessageFor(model => model.Table_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Branch)
                    @Html.ValidationMessageFor(model => model.Branch)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Food_Category, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Food_Category)
                    @Html.ValidationMessageFor(model => model.Food_Category)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Deal_Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Deal_Name)
                    @Html.ValidationMessageFor(model => model.Deal_Name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Food_Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Food_Name)
                    @Html.ValidationMessageFor(model => model.Food_Name)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
