@model Final_Restaurant_Management_System_RMS.Models.Staff_Table_Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllTable_Reservation_ListBYIDs</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Staff_Table_Reservation</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Reservation_ID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Reservation_ID)
                    @Html.ValidationMessageFor(model => model.Reservation_ID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Customer_ID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer_ID)
                    @Html.ValidationMessageFor(model => model.Customer_ID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Table_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Table_Number)
                    @Html.ValidationMessageFor(model => model.Table_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Number_Of_People, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Number_Of_People)
                    @Html.ValidationMessageFor(model => model.Number_Of_People)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Timing_Checkin, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Timing_Checkin)
                    @Html.ValidationMessageFor(model => model.Timing_Checkin)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Branch)
                    @Html.ValidationMessageFor(model => model.Branch)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Phone_Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone_Number)
                    @Html.ValidationMessageFor(model => model.Phone_Number)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CNIC, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CNIC)
                    @Html.ValidationMessageFor(model => model.CNIC)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date)
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
